
body
{

    background-color: rgb(51, 49, 49);
    color: white;

}



.citation
{
	font-size: xx-large;
	font-family: Brush Script MT, Brush Script Std, cursive;
	text-align: center
}

p
{
	font-family: Comic Sans MS, Comic Sans, cursive;
	text-align: center
}

.lien
{
	font-family: Comic Sans MS, Comic Sans, cursive;
	color: aqua;
	text-align: center
}

.position
{
	position: relative;
	top: 1080px;
	left: 1080px;
}

.slider
{

	width: 360px;
	height: 360px;
	overflow:hidden;
}
.slides
{
	width: calc(360px * 2);
	animation: glisse 15s infinite;
}

.slide
{
	float: left;
	height: 360px;
	width: 360px;
}

	@keyframes glisse {
		0% {
			transform: translateX(0);
		}
		10% {
			transform: translateX(0);
		}
		33% {
			transform: translateX(0px);
		}
		43% {
			transform: translateX(-360px);
		}
		66% {
			transform: translateX(-360px);
		}
		76% {
			transform: translateX(-360px);
		}
		100% {
			transform: translateX(0px);
		}
	}




#imagesContainer
{
	display: grid;
	grid-template-columns: 360px 360px 360px;
	grid-gap: 10px  10px;
	grid-auto-rows: 360px;
	justify-content: center;

}
.image
{

	max-width: 100%;
	max-height: 100%;




}



.wrapper
{
	display: grid;
	grid-template-columns: 360px 360px 360px;
	grid-gap: 10px  10px;
	grid-auto-rows: 360px;
	justify-content: center;


}
