
body
{

    background-color: rgb(51, 49, 49);
    color: rgb(255, 255, 255);

}


/*
@media all and (max-width:480px)
{
.citation {float: none;}
p {float: none;}
.lien {float: none;}
.position {float: none;}
.slider {float: none;}
.slides {float: none;}
.slide {float: none;}
#imagesContainer {float: none;}
.wrapper {float: none;}

}

@media (max-width:480px) and (max-width:780px)
{
.citation {float: none;}
p {float: none;}
.lien {float: none;}
.position {float: none;}
.slider {float: none;}
.slides {float: none;}
.slide {float: none;}
#imagesContainer {float: none;}
.wrapper {float: none;}
	 
}


@media (max-width:780px) and (max-width:979px)
{
.citation {float: none;}
p {float: none;}
.lien {float: none;}
.position {float: none;}
.slider {float: none;}
.slides {float: none;}
.slide {float: none;}
#imagesContainer {float: none;}
.wrapper {float: none;}	 
}
*/

.container2 {
	position: relative;
  }
  .text {
	font-family: 'Roboto Mono', monospace;
	font-size: 2rem;
	color: azure;
  }
  .text_hide {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgb(51, 49, 49);
  }
@media only screen and (min-width: 600px) 
{
}	
{
    margin: 0px;
    padding: 0px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

nav{
    width: 100%;
    margin: 0px auto 40px auto;
    background-color: rgb(80, 78, 78);
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav li{
    float: left;
    width: 25%;
    text-align: center;
}


nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block; 
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 5px 0px;
}

nav a:hover{
    color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
}

.conteneur{
  margin: 0px 20px;
  height: 1500px;
}







.citation
{
	font-size: xxx-large;
	font-family: Brush Script MT, Brush Script Std, cursive;
	text-align: center;
	color: rgb(167, 82, 82);
	
}

p
{
	font-size: x-large;
	font-family: Comic Sans MS, Comic Sans, cursive;
	text-align: center
}

.lien
{
	font-family: Comic Sans MS, Comic Sans, cursive;
	color: aqua;
}

.position
{
	position: relative;
	top: 1080px;
	left: 1080px;
}

.slider
{

	width: 360px;
	height: 360px;
	overflow:hidden;
}
.slides
{
	width: calc(360px * 2);
	animation: glisse 10s infinite;
}

.slide
{
	float: left;
	height: 360px;
	width: 360px;
}

	@keyframes glisse {
		0% {
			transform: translateX(0);
		}
		10% {
			transform: translateX(0);
		}
		33% {
			transform: translateX(0px);
		}
		43% {
			transform: translateX(-360px);
		}
		66% {
			transform: translateX(-360px);
		}
		76% {
			transform: translateX(-360px);
		}
		100% {
			transform: translateX(0px);
		}
	}




#imagesContainer
{
	display: grid;
	grid-template-columns: 360px 360px 360px;
	grid-gap: 10px  10px;
	grid-auto-rows: 360px;
	justify-content: center;

}
.image
{

	max-width: 100%;
	max-height: 100%;




}



.wrapper
{
	display: grid;
	grid-template-columns: 360px 360px 360px;
	grid-gap: 10px  10px;
	grid-auto-rows: 360px;
	justify-content: center;
}










.slider2
{

	width: 360px;
	height: 360px;
	overflow:hidden;
}
.slides2
{
	width: calc(720px * 3);
	animation: glisse2 15s infinite;
}

.slide2
{
	float: left;
	height: 360px;
	width: 360px;
}

@keyframes glisse2 {
	0% {
		transform: translateX(0);
	}
	10% {
		transform: translateX(-360px);
	}
	33% {
		transform: translateX(-360px);
	}
	43% {
		transform: translateX(-720px);
	}
	66% {
		transform: translateX(-720px);
	}
	76% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(0px);
	}
}


	